html {
    width: 100%;
 }
 
 
 body {
    width: 95%;
    margin: 0px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8em;
 }
 
 
 h1 {
    font-size: 2em;
 }